html, body {
  margin: 0px;
  padding: 0px;
}

hr {
  width: 50%;
  border: solid 2px #347f91;
  margin-top: 0;
  margin-bottom: 8vh;
}

/*Text*/

.title {
  font-family: 'Rubik';
  font-size: 45px;
  font-weight: 500;
}

.subtitle {
  font-family: 'Rubik';
  font-size: 30px;
  /*font-weight: 300;*/
}

.subtitle-small {
  font-family: 'Rubik';
  font-size: 28px;
  font-weight: 300;
}

.subtitle-small-bullet {
  font-size: 30px;
}

.body {
  margin: 10px 0;
  line-height: 180%;

  font-family: 'Open Sans';
  font-size: 17px;
  color: #555555;
}

.body-bullet {
  font-size: 15px;
}

.note {
  margin: 25px 0;
  line-height: 180%;

  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 760px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 25px;
  }

  .subtitle-small {
    font-size: 23px;
  }

  .subtitle-small-bullet {
    font-size: 25px;
  }

  .body {
    line-height: 150%;
    font-size: 13px;
  }

  .body-bullet {
    font-size: 15px;
  }

  .note {
    margin: 12px 0;
    line-height: 150%;
    font-size: 12px;
  }
}

.text-center {
  text-align: center;
}

/*Color*/

.primary {
  color: #347f91;
}

.light-text {
  color: gainsboro;
}

.background-dark {
  background-color: #001419;
}

a.primary {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a.primary:hover {
  text-decoration: none;
  color: #34b8d8;
}

a.primary:after {
  text-decoration: none;
}

.dark-light-gradient {
  height: 15vh;

  background: #001419;
  background: -webkit-linear-gradient(#001419, #09343E, #326C7A, #8ABFCC, #CBEAF2, white);
  background: -o-linear-gradient(#001419, #09343E, #326C7A, #8ABFCC, #CBEAF2, white);
  background: -moz-linear-gradient(#001419, #09343E, #326C7A, #8ABFCC, #CBEAF2, white);
  background: linear-gradient(#001419, #09343E, #326C7A, #8ABFCC, #CBEAF2, white);
}

.light-dark-gradient {
  height: 15vh;

  background: #001419;
  background: -webkit-linear-gradient(white, #CBEAF2, #8ABFCC, #326C7A, #09343E, #001419);
  background: -o-linear-gradient(white, #CBEAF2, #8ABFCC, #326C7A, #09343E, #001419);
  background: -moz-linear-gradient(white, #CBEAF2, #8ABFCC, #326C7A, #09343E, #001419);
  background: linear-gradient(white, #CBEAF2, #8ABFCC, #326C7A, #09343E, #001419);
}

#nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 3vh 10vw 0 0;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 760px) {
  #nav {
    display: none;
  }
}

.nav-link {
  margin: 0 2vw;

  text-align: right;
  text-decoration: none;
/*  color: white;
*/  

  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.nav-link-text {
  width: 100%;
  display: block;
  margin: 0;
  color: black;
  font-family: 'Exo';
  font-style: 'SemiBold';
  font-size: 22px;
  font-height: 29px;
  text-align: left;


}
.sponsor_title {
font-family: 'Exo';
font-style: 'Black';
font-size: 96px;
line-height:  89px;
}
@media all and (max-width: 600px) {
  #main_logo { display: none; }
  .sponsor_title { font-size: 78px; }
}
.about_section {
  margin: 10px 0;
}
.hosting_list {
  margin: 10px 0;
}
.hosting-logos {
  display: flex;
}


.be-logo, .esuc-logo{
 padding-top: 3%;
  height: 20%;
  width: 15%;
  min-width: 150px;
  padding-left: 7%;
}
.final_host {
  padding-top: 3%;
  height: 20%;
  width: 15%;
  min-width: 150px;
  padding-left: 7%;

}
.hosting-logo {
  padding-top: 3%;
  height: 20%;
  width: 20%;
  min-width: 150px;
  padding-left: 7%;
}

.sponsor-logo {
  height: 20%;
  width: 15%;
  padding-left: 7%;
  padding-bottom: 5%;
}
.nav-link:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.nav-link:after {
  text-decoration: none;
}

#splash {
  height: 100vh;

display: -webkit-box;
display: -webkit-flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_logo {
  margin: auto;
}
#main_title_div {
  margin: auto;
  align-content: left;
  padding-left: 5%;
}
#main_title {
font-family: 'Exo';
font-style: 'Extra-Bold';
font-size: 96px;
line-height:  89px;
}

#logo-main {
  height: 60vh;
  padding-left: 15%;

}
#subtitle {
  font-family: 'Exo';
  font-style: 'Extra-Bold';
  font-size: 26px;
  color: #808080;
}
#register_main {
  background-color: #0F5F6A;
  color: white;
   border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Exo';
    font-style: 'SemiBold';
    font-size: 26px;
  height: 65px;
  width: 200px;
}
#nav_logo {
  width: 5%;
  height: 10%;
}
#register_nav {
  background-color: transparent;
  color: #0F5F6A;
  border-color: #008000;
  border-width: 2px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;    
  font-family: 'Exo';
  font-style: 'Extra-Bold';
  font-size: 22px;
  min-width: 150px;
}
#rsvp {
  text-decoration: none;
  color: inherit;
}

.content {
  width: 100vw;
  padding: 0 20vw;
}

#about, #faqs, #sponsors, #hosting {
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 600px) {
  .content {
    padding: 0 10vw;
  }

  #about, #faqs, #sponsors, #hosting {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  }
}

#hosting-orgs {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.org-logo-link {
  height: 18vh;
  margin: 1vh;
}

.org-logo {
  height: 100%;
}

@media (max-width: 1240px) and (orientation: portrait) {
  .org-logo-link {
    height: 12vh;
  }
}

@media (max-width: 1240px) and (orientation: landscape) {
  .org-logo-link {
    height: 18vh;
  }
}

@media (max-width: 760px) and (orientation: portrait) {
  .org-logo-link {
    height: 10vh;
  }
}

@media (max-width: 760px) and (orientation: landscape) {
  .org-logo-link {
    height: 30vh;
  }
}

.faq-question {
  margin-top: 3vh;
}

#title-sponsors {
  margin: 8vh 0;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gold-sponsors, #bronze-sponsors {
  margin: auto;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sponsors img {
  width: 100%;
}

.sponsor-container, .spacer {
  margin: 0.9vw;
}

#title-sponsors .sponsor-container {
  width: 18vw;
}

#gold-sponsors .sponsor-container, #gold-sponsors .spacer {
  width: 15vw;
}

#bronze-sponsors .sponsor-container, #bronze-sponsors .spacer {
  width: 13vw;
}

@media (max-width: 760px) {
  #title-sponsors .sponsor-container {
    width: 60vw;
  }

  #gold-sponsors .sponsor-container, #gold-sponsors .spacer,
  #bronze-sponsors .sponsor-container, #bronze-sponsors .spacer {
    width: 23vw;
  }
}

.sponsor-popover {
  cursor: pointer;
}

#footer {
  padding-bottom: 5vh;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  height: 6vh;
  padding: 5px;
}
.temp-sponsorship {
  text-align: center;
  color: black;
  font-family: 'Exo';
  font-style: 'Medium-Italic';
  font-style: italic;
  font-size: 38px;
  font-height: 29px;

}

@media (max-width: 760px) and (orientation: landscape) {
  .footer-icon {
    height: 10vh;
  }
}
